.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/News/public-policy/040417_norwitalia_THUMB_LARGE.jpg?w=1155');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

#title {
    margin-top: 10%;
    margin-left: 3%;
}

.incidentBtn {
    background-color: rgb(85, 5, 85);
    color: white;
    border-radius: 8px;
    border: none;
    padding: 15px;
}

.incidentBtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.575), 0 17px 50px 0 rgba(0, 0, 0, 0.521);
}

img {
  opacity: 0.5;
}

.landingTitle {
  font-size: 75px;
}

.map {
  width: 80%;
  float: left;
  margin-left: 15%;
  margin-bottom: 5%;
}

.sectionHeaders {
  margin-top: 2%;
}

p {
  text-indent: 35px;
}

footer {
  text-align: center;
}

.form-inline {
  margin-top: 2%;
}

#services {
  margin-top: 5%;
}

#ourServices {
  background-color: rgb(85, 5, 85);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2%;
  text-indent: 15px;
}

#contact {
  background-color: rgb(85, 5, 85);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2%;
  text-indent: 15px;
}

#safeZone {
  background-color: rgb(85, 5, 85);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2%;
  text-indent: 15px;
}

#safeSpaces {
  background-color: rgb(85, 5, 85);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2%;
  text-indent: 15px;
}

#aboutUs {
  background-color: rgb(85, 5, 85);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2%;
  text-indent: 15px;
}


.row {
  margin-bottom: 2%;
}

#location {
  margin-left: 2%;
  width: 300px;
  height: 40px;
}

#safeButton {
background-color: rgb(139, 130, 156);
color: rgb(85, 5, 85);
border-radius: 8px;
border: none;
padding: 15px;
}

#safeButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.575), 0 17px 50px 0 rgba(0, 0, 0, 0.521);
}



#safeSpaceLoc {
background-color: rgb(139, 130, 156);
color: rgb(85, 5, 85);
border-radius: 8px;
border: none;
padding: 15px;
}

#safeSpaceLoc:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.575), 0 17px 50px 0 rgba(0, 0, 0, 0.521);
}


#house {
  height: 80px;
  width: 80px;
}

#phone {
  height: 115px;
  width: 115px;
}

#person {
  height: 80px;
  width: 80px;
}

.heckleTypeHeader {
  background-color: rgb(85, 5, 85);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2%;
  text-indent: 15px;
}

#safeZone {
  background-color: rgb(85, 5, 85);
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2%;
  text-indent: 15px;
  width: 100%;
}


.safeOutput {
  border-style: solid;
  background-color: white;
  color: rgb(85, 5, 85);
  list-style-type: none;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 2%;
  border: 3px;
  border-style: solid;
  border-color: rgb(139, 130, 156);

}

.safeOutput:nth-child(odd) {
  color: white; 
  background-color: rgb(85, 5, 85);
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 5%;
  border-radius: 8px;
}

#floating-panel {
  width: 100%;
  background-color: rgb(85, 5, 85);
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

.userInput {
  border-radius: 8px;
}

#submit {
background-color: rgb(139, 130, 156);
color: rgb(85, 5, 85);
border-radius: 10px;
border: none;
padding: 5px;
border: 1px;
border-style: solid;
border-color: white;
}

#geoLoc {
  background-color: rgb(139, 130, 156);
  color: rgb(85, 5, 85);
  border-radius: 10px;
  border: none;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: white;
  }

#geoLoc:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.575), 0 17px 50px 0 rgba(255, 255, 255, 0.521);
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.575), 0 17px 50px 0 rgba(255, 255, 255, 0.521);
  }

