.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://miro.medium.com/max/11844/0*D3TZdUHyl9ZZ7OaJ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    /* opacity: 0.5; */
  }